
# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/

# Environment Variables
.env

# Django migrations
*/migrations/
*.log

# VSCode settings (if you use VSCode)
.vscode/

# macOS files
.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
